# General use .gitignore for Minecraft modding.

# Directories
/.gradle/
/build/
/eclipse
/run/
/out/
/asm/
/bin/
/build/
/config/
crash-reports/
/.idea/
/.metadata/
/libs/
/saves/
/resourcepacks/
/logs/
/mods/
/screenshots/
/classes/

# File Extensions
*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project
*.launch

# Specific files
Thumbs.db
usernamecache.json
options.txt
usercache.json

# Visual Studio Code
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix