# General use .gitignore for Minecraft modding.

# Directories
/.gradle/
/build/
/eclipse
/run/
/out/
/asm/
/bin/
/build/
/config/
crash-reports/
/.idea/
/.metadata/
/.settings/
/libs/
/saves/
/resourcepacks/
/logs/
/mods/
/screenshots/

# File Extensions
*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project

# Specific files
Thumbs.db
usernamecache.json
options.txt

