<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
        <mapEntry key="FORGE_VERSION" value="34.1.11"/>
        <mapEntry key="MCP_MAPPINGS" value="snapshot_20200916-1.16.2"/>
        <mapEntry key="MCP_VERSION" value="20200911.084530"/>
        <mapEntry key="MC_VERSION" value="1.16.3"/>
        <mapEntry key="MOD_CLASSES" value="bloodmagic%%C:\Users\Scott\Desktop\BloodMagic3\bin\main;bloodmagic%%C:\Users\Scott\Desktop\BloodMagic3\bin\main"/>
        <mapEntry key="assetDirectory" value="C:\Users\Scott\.gradle\caches\forge_gradle\assets"/>
        <mapEntry key="assetIndex" value="1.16"/>
        <mapEntry key="nativesDirectory" value="C:\Users\Scott\Desktop\BloodMagic3\build\natives"/>
        <mapEntry key="target" value="fmluserdevclient"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=""/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BloodMagic3"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=SCAN,REGISTRIES,REGISTRYDUMP -XX:HeapDumpPath=MojangTricksIntelDriversForPerformance_javaw.exe_minecraft.exe.heapdump &quot;-Dos.name=Windows 10&quot; -Dos.version=10.0"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Scott\Desktop\BloodMagic3\run"/>
</launchConfiguration>
