public net.minecraft.world.damagesource.DamageSources m_269079_(Lnet/minecraft/resources/ResourceKey;)Lnet/minecraft/world/damagesource/DamageSource; # source

public net.minecraft.world.level.block.GrowingPlantBlock f_53859_ # growthDirection
# public net.minecraft.world.level.block.GrowingPlantBlock m_7777_()Lnet/minecraft/world/level/block/Block; # getBodyBlock
